name: ci-tests-docker
on:
  # trigger for any new pull request
  pull_request:
  # trigger on pushes with changes to branch master
  push:
    branches:
      # we need to use `master`, since github pages can't handle other branches
      - maint
      - wip-coowner
  # trigger manually trigger from the Actions tab
  workflow_dispatch:

jobs:
  ci_tests_archlinux:
    runs-on: ubuntu-latest
    name: Arch Linux (via Docker) CI
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Test Action
      uses: ./util/ci/actions/archlinux-test
    - uses: actions/upload-artifact@v2
      with:
        name: TestLog
        path: ${{ github.workspace }}/LastTest.log
